body { margin:0; padding:0; }

#map { position:absolute; top:0; bottom:0; left:0; right:0; width:100%; }

.marker {
            background-image: url('pin.png');
            background-size: cover;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            cursor: pointer;
}

#geocoder-container > div {
    min-width:50%;
    margin-left:25%;
}

.mapboxgl-canvas {
    position: relative !important;
    width: 100% !important;


}

#map {
    width: 100% !important;
    margin-left: auto;
    margin-right: auto;
    height: 500px !important;
    border-style: solid;
    margin-top: 70px;
    margin-bottom: 30px;
    
}

.mapContainer {
    justify-content: space-between;
    height: 500px !important;
}

.buttons {
    margin-top: 100px;
}

.modal {
    z-index: 1000;
}

.closeBtn {
    float: right;
}

