.detailCard {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
}
.detailBtns {
    float: right;
}

#placeTitle {
    margin-left: 75px;
}
.description {
    text-align: left;
}
.deleteBtn {
    justify-content: right !important;
}