#outer-container {
    width: 100%;
    padding: 15px;
}
.card-content:nth-child(1) {
    padding: 0;
}
#card-header {
    background-color: #4D929E;
    color: white;
    margin: 25px 0px 25px 0px;
    padding: 10px;
}
.detailCard {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: auto;
}
.detailBtns {
    float: right;
}

#placeTitle {
    margin-left: 75px;
}
.description {
    text-align: left;
    overflow: auto;
    height: 90px;
    width: 105%;
}
.detailBtns {
    margin-top: -173px;
    position: absolute;
    right: 10px;
}
.deleteBtn {
    justify-content: right !important;
    float: right;
    
}
.card-title {
    background-color: rgb(20, 50, 54, .5);
    margin-bottom: 0px !important;
    width: 100%;
}