.brand-logo {
    position: fixed;
    left: 0;
    text-align: left;
}

#logo {
    height: 56px;
    margin: 10px 5px 0px 10px;
}

.nav-wrapper {
    color: #fff;
    width: 100%;
    height: 75px !important;
    line-height: 75px;
    background-color: #4D929E;
}